table {
  border-collapse: collapse;
  font-size: small;
  border: 2px solid #CDCDCD;
}
th,
td {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
}

.exec-table-wrapper {
  max-height: 550px;
  overflow: auto;
}

.profiler-table-wrapper {
  max-height: 550px;
  overflow: auto;
}